.friend {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.status {
  font-size: 14px;
  margin: 5px 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}
